/* globals */
.btn {
  font-size: .7em;
  text-transform: uppercase;
  letter-spacing: .15em;
  padding: 1em 2em;
  border: none;
  cursor: pointer; }
  .btn.close {
    padding: 0.2em 0.2em 0.3em 0.35em;
    background: #FF9666;
    color: #f6f6f6; }

.fa.push-right {
  margin-right: .5em; }

.fa.push-left {
  margin-left: .5em; }

.pull-right {
  float: right; }

.bottom {
  position: absolute;
  bottom: 0; }

/* scaffolding & frameworks */
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; }

html,
body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol {
  margin: 0;
  padding: 0; }

body {
  padding: 0;
  margin: 0;
  font-family: "Inconsolata", monospace;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  font-size: 15px; }

body.dragging {
  opacity: .5; }

a {
  text-decoration: none; }

/* NAV */
#menu-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #174C4F;
  padding: 5px; }

.menu {
  display: inline-block; }

.menu-dropdown {
  display: none;
  position: absolute;
  box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.3);
  z-index: 1; }
  .menu-dropdown.expanded {
    display: block; }

.menu-button {
  font-family: "Inconsolata", monospace;
  background: #174C4F;
  border-radius: 0;
  border: none;
  padding: 8px;
  font-size: .9em;
  text-transform: uppercase;
  font-weight: 100;
  letter-spacing: .05em;
  color: #ffffff;
  cursor: pointer;
  display: inline-block; }
  .menu-button:focus {
    outline: none; }
  .menu-button:hover {
    background: #207178; }
  .menu-button .fa {
    margin-left: 10px; }
  .menu-button.menu-button-action {
    display: block;
    min-width: 150px;
    text-align: left;
    border-top: 1px solid #207178; }

.opens-above {
  bottom: 30px; }

#map {
  position: absolute;
  left: 250px;
  top: 0;
  bottom: 0;
  right: 0; }

.leaflet-top {
  margin-top: 50px; }

#sidebar {
  position: absolute;
  top: 41px;
  bottom: 0;
  width: 250px;
  background: #f6f6f6; }

/* LAYER LIST */
#layer-list {
  margin: 0;
  list-style-type: none;
  padding: 0; }
  #layer-list *::selection {
    background: transparent; }
  #layer-list .layer-element {
    position: relative; }
  #layer-list .layer-toggle {
    position: absolute;
    top: 5px;
    left: 3px; }
  #layer-list .layer-name {
    padding: 8px;
    font-size: 0.9em;
    padding-left: 26px; }
    #layer-list .layer-name::selection {
      background: transparent; }
    #layer-list .layer-name:hover {
      background: #F5E9BE;
      cursor: pointer; }
    #layer-list .layer-name.selected {
      background: #207178;
      color: #f6f6f6; }

#add-remove {
  width: 100%;
  background-color: #174C4F;
  text-align: center; }

#notifications {
  position: absolute;
  top: 10px;
  right: 10px; }
  #notifications .notification {
    padding: 0.5em 1em;
    font-size: .9em;
    text-transform: uppercase;
    letter-spacing: .1em;
    margin-bottom: .5em;
    background: #f6f6f6;
    color: #174C4F; }
    #notifications .notification:before {
      font-family: "FontAwesome";
      margin-right: .5em;
      content: "\f05a"; }
    #notifications .notification.alert {
      background: #FF9666;
      color: #f6f6f6; }
      #notifications .notification.alert:before {
        content: "\f06a"; }
    #notifications .notification.success {
      background: #FFE184;
      color: #207178; }
      #notifications .notification.success:before {
        content: "\f00c"; }

.form-outer {
  display: table;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2); }
  .form-outer .form-inner {
    display: table-cell;
    vertical-align: middle; }

.form {
  font-size: 1.1em;
  display: block;
  position: relative;
  margin: auto;
  width: 300px;
  background: #ffffff;
  box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.3); }
  .form .form-information {
    padding: 10px;
    background: #174C4F;
    color: #f6f6f6; }
  .form .form-title {
    text-transform: uppercase; }
  .form .form-description {
    padding: 5px 0;
    color: #f6f6f6;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: .85em; }
  .form .parameter {
    display: block;
    padding: 10px;
    border-top: 1px solid #f6f6f6; }
    .form .parameter .parameter-name {
      text-transform: uppercase;
      display: inline-block;
      font-weight: 900;
      color: #FF9666;
      letter-spacing: .1em; }
    .form .parameter input, .form .parameter select {
      display: block;
      font-family: "Inconsolata", monospace;
      width: 100%;
      font-size: .9em;
      padding: .3em; }
    .form .parameter .parameter-description {
      font-size: .7em;
      color: #207178; }
  .form .form-submit {
    background: #FFE184;
    color: #174C4F;
    float: left; }
  .form .form-close {
    position: absolute;
    right: 0;
    font-size: .9em; }
