/* globals */
.btn {
  font-size: .7em;
  text-transform: uppercase;
  letter-spacing: .15em;
  padding: 1em 2em;
  border: none;
  cursor:pointer;
  &.close {
    padding:.2em .2em .3em .35em;
    background:$button-close-background;
    color:$button-close-color;
  }
}

.fa {
  &.push-right {
    margin-right:.5em;
  }
  &.push-left {
    margin-left:.5em;
  }
}

.pull-right {
  float:right;
}

.bottom {
  position:absolute;
  bottom: 0;
}
