.form-outer {
  position: absolute;
  z-index: 1000;
  &.default {
    display: table;
    width: 100%;
    height: 100%;
    background:rgba(0,0,0,0.2);

    .form-inner {
      display:table-cell;
      vertical-align:middle;
    }
  }
}

.form {
  font-size:1.1em;
  display:block;
  position:relative;
  margin:auto;
  width:300px;
  background:$form-background;

  .form-information {
    padding:10px;
    background:$form-information-background;
    color:$form-information-text;
  }

  .form-inputs {}

  .form-title {
    text-transform:uppercase;
  }

  .form-description {
    padding:5px 0;
    color:$form-description-text;
    font-family: $form-description-font;
    font-weight: 300;
    font-size: .85em;
  }

  .parameter {
    display:block;
    padding:10px;
    border-top: $form-param-border;

    .parameter-name {
      text-transform: uppercase;
      display: inline-block;
      font-weight:900;
      color:$form-param-text;
      letter-spacing: .1em;
    }

    input, select {
      display:block;
      font-family:$font-input;
      width:100%;
      font-size:.9em;
      padding:.3em;
    }

    .parameter-description {
      font-size:.7em;
      color:$form-param-description;
    }
  }

  .form-submit {
    background:$form-submit-background;
    color:$form-submit-text;
    float:left;
  }

  .form-close {
    position:absolute;
    right:0;
    font-size:.9em;
  }
}