@import "variables";

body {
  padding: 0;
  margin: 0;
  background: $grey;
  font-family:"Helvetica Neue", arial, sans-serif;
  overflow: hidden;

  &.dragging {
    opacity: 0.8;
    .layer-help {
      border: 1px solid #333;
    }
  }
}

.hidden {
  visibility: hidden;
}


@-webkit-keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-family: "Inconsolata", monospace;
}
p {
  margin: 0;
  padding: 0;
}
a {
  color: $blue;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}
input,
label,
.dropchop-btn {
  font-family: "Inconsolata", monospace;
}

.dropchop-btn,
a.dropchop-btn {
  text-decoration: none;
  border: none;
  padding: 0.5em 1em;
  font-size: 1em;
  cursor: pointer;

  &.dropchop-btn-green {
    background: $green;
    color: white;
    &:hover {
      background: darken($green, 10);
    }
  }

  &.dropchop-btn-blue {
    background: $blue;
    color: white;
    &:hover {
      background: darken($blue, 10);
    }
  }

  &.dropchop-btn-cancel {
    background: transparent;
    color: red;
    &:hover {
      background: $light-grey;
    }
  }
}



#dropchop {
  position: relative;
  height: 100%;
  width: 100%;
}

.layerlist {
  position: absolute;
  left: $left-menu-width;
  top:0;
  bottom: 0;
  background: #fff;
  margin: 0;
  padding: 0;
  width: $layerlist-width;
  list-style-type: none;
  overflow-y: scroll;
  -webkit-transform: translate3d(0,0,0);
  z-index: 1;
  overflow: visible;

  .layer-help {
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    color: #999;
    font-size: 0.9em;
    border: 1px dashed #c0c0c0;
  }
  .layer-toggleAll {
    background: $light-grey;
    padding: 7px 10px;
    font-size: 0.8em;
    font-weight: 900;
    color: #999;
    border-bottom: 1px solid #e5e5e5;
    display: none;
    input {
      margin-right: 6px;
    }
  }
  * {
    &::selection {
      background:transparent;
    }
  }
  .context-menu {
    min-width: 250px;
    position: fixed;
    z-index: 2;

    background: darken($white, .8%);
    border: 1px solid #bbb;
    border-radius: 2px;
    box-shadow: 0 0 4px -1px rgba(0, 0, 0, 0.4);

    color: #333;

    ul {
      list-style: none;
      padding: 0;

      li {
        display: block;
        font-size: 0.85em;
        border-bottom: 1px solid #ccc;
        text-transform: lowercase;
        cursor: pointer;

        .description {
          padding: 8px 10px;
          display: table-cell;
          vertical-align: middle;
        }

        .icon {
          background-color: #f1f1f1;
          color: #777;
          text-align: center;
          width: 30px;
          padding: 6px 0;
          border-right: 1px solid #ddd;
          display: table-cell;
          vertical-align: middle;
        }

        &.title {
          text-transform: lowercase;
          padding: 2px 5px;
          color: #666;
          background-color: $light-grey;
          border-bottom: 1px solid #dedede;
          &:hover {
            cursor: default;
            color: #666;
            background-color: $light-grey;
          }
        }

        &:last-child {
          border-bottom: none;
        }
        &:hover {
          background-color: #333;
          color: $light-grey;
          .icon {
            color: #fff;
            background-color: $fuscia;
            border-right: 1px solid darken(#ddd, 30%);
          }
        }

        // Disabled Options
        &.operation-inactive {
          color: #aaa;
          text-decoration: line-through;
          cursor: default;
          &:hover {
            background-color: inherit;
          }
          .icon {
            color: #ddd;
            background-color: #f1f1f1;
            border-right: 1px solid #ddd;
          }
        }
      }

    }
  }
}
.layer-element {
  position: relative;
  cursor:pointer;

  .layer-toggle {
    float: left;
    margin-right: 5px;
    position: absolute;
    top: 8px;
    left: 9px;
  }
  .layer-name {
    display: block;
    padding: 8px 10px 8px 51px;
    font-size: 0.85em;
    color: #333;
    font-weight: 800;
    word-wrap: break-word;
    &.layer-new {
      background: #ffffcc;
    }
    &:hover {
      background: $light-grey;
    }
    &.selected {
      background: #333;
      color: $light-grey;
      &:hover {
        background: #444;
      }
    }
  }
  .layer-type-image {
    float: left;
    position: absolute;
    top: 9px;
    left: 30px;
    width: 14px;
    height: 15px;
    opacity: 0.7;
  }
  .layer-action {
    border: none;
    background: $light-grey;
    position: absolute;
    top: 6px;
    padding: 5px 6px;
    text-align: center;
    display: none;
    border-radius: 50%;
    cursor: pointer;
  }
  .layer-dropdown {
    right: 4px;
    color: $blue;
    &:hover {
      background: $blue;
      color: white;
    }
  }
  &:hover {
    .layer-dropdown {
      display: block;
    }
  }
}

.operations-geo {
  position: absolute;
  top: 0;
  left: $left-menu-width + $layerlist-width;
  bottom: 0;
  background: white;
  border-left: 1px solid #e5e5e5;
  border-right: 1px solid #e5e5e5;
  overflow-y: scroll;
}
.operation {
  border: none;
  -webkit-transform: translate3d(0, 0, 0); // forces chrome acceleration GPU
  &.operation-geo {
    padding:1em;
    display: block;
    width: $geo-button-width;
    font-size: 0.9em;
    background: white;
    text-align: left;
    border-bottom: 1px solid $light-grey;
    h4 {
      text-transform: capitalize;
    }
    p {
      font-size: 0.8em;
    }
  }
  &:hover {
    background: $light-grey;
    cursor: pointer;
  }
  &.operation-inactive,
  &:disabled {
    opacity: 0.5;
    text-decoration: line-through;
    &:hover {
      background: transparent;
      cursor: default;
    }
  }
}
