.dropchop-popup {
  min-width: 200px;
  max-height: 400px;
  .leaflet-popup-content {
    padding: 5px;
    padding-top: 5px !important;
  }
}

.dropchop-table {
  width: 100%;
  font-size: 12px;
  border-collapse: collapse;
  th, td {
    padding: 5px;
  }
  th {
    text-align: left;
    font-family: "Inconsolata", monospace;
  }
  td {
    border: 1px solid #e5e5e5;
  }
}