$white: #fff;
$grey: #c0c0c0;
$light-grey: #f6f6f6;

$green: lighten(#2ECC40, 15);
$red: lighten(#ff4136, 15);
$blue: lighten(#0074D9, 15);
$fuscia: lighten(#F012BE, 15);

$left-menu-width: 41px;
$layerlist-width: 280px;
$geo-button-width: 200px;