/* globals */
.btn {
  font-size: .7em;
  text-transform: uppercase;
  letter-spacing: .15em;
  padding: 1em 2em;
  border: none;
  cursor:pointer;
  &.close {
    padding:.2em .2em .3em .35em;
    background:$button-close-background;
    color:$button-close-color;
  }
}

.fa {
  &.push-right {
    margin-right:.5em;
  }
  &.push-left {
    margin-left:.5em;
  }
}

.pull-right {
  float:right;
}

.bottom {
  position:absolute;
  bottom: 0;
}
.ui-button {
  font-family:$font-input;
  font-size: 12;
  background:#FFF;
  color:#000;
  display:block;
  position:absolute;
  top:70%;right:0%;
  width:138px;
  height:25px;
  margin:0 10px 0 0;
  padding:3px 3px 3px 3px;
  z-index:100;
  text-align:center;
  border:1px solid rgba(0,0,0,0.4);
  border-radius:3px;
  }
  .ui-button:hover {
    background:rgba(255,255,255,0.6);
    color:#000;
    }
