.form-outer {
  display: table;
  position: absolute;
  width: 100%;
  height: 100%;

  .form-inner {
    display:table-cell;
    vertical-align:middle;
  }
}

.form {
  display:block;
  position:relative;
  margin:auto;
  width:300px;
  background:$white;
  box-shadow:$shadow;

  .form-information {
    padding:10px;
    background:$black;
    color:$white;
  }

  .form-inputs {}
  
  .form-title {
    text-transform:uppercase;
  }

  .form-description {
    font-size:.8em;
    padding:5px 0;
    color:$grey-light;
  }

  .parameter {
    display:block;
    padding:10px;
    border-top:1px solid $grey;

    .parameter-name {
      text-transform: uppercase;
      display: inline-block;
      font-size: .75em;
      font-weight:900;
      color:$red;
      letter-spacing: .1em;
    }

    input, select {
      display:block;
      font-family:$ff;
      width:100%;
      font-size:.9em;
      padding:.3em;
    }

    .parameter-description {
      font-size:.7em;
      color:$gray;
    }
  }

  .form-submit {
    background:$olive;
    color:$white;
    float:left;
  }

  .form-close {
    position:absolute;
    top:-24px;
    right:0;
    box-shadow:$shadow;
  }
}