#sidebar {
  position:absolute;
  top:0px;
  bottom:0;
  width: $sidebar-width;
  background:$layerlist-background;
}

/* LAYER LIST */
#layer-list {
  * {
    &::selection {
      background:transparent;
    }
  }

  margin:0;
  list-style-type: none;
  padding:0;

  .layer-element {
    position:relative;
  }

  .layer-toggle {
    position: absolute;
    top: 5px;
    left: 3px;
  }

  .layer-name {
    padding:8px;
    font-size: $layer-fontsize;
    padding-left:26px;
    &::selection {
      background:transparent;
    }
    &:hover {
      background:$layer-hover;
      cursor:pointer;
    }
    &.selected {
      background:$layer-selected-background;
      color:$layer-selected-text;
    }
  }
}

#add-remove {
  width: 100%;
  background-color:$menu-bottom-background;
  text-align:center;
}
