/* DROPZONE */
#dropzone {
  position:absolute;
  top:41px;
  bottom:0;
  width:250px;
  background:$grey-light;
}

/* LAYER LIST */
#layer-list {
  * {
    &::selection {
      background:transparent;
    }
  }
  margin:0;
  list-style-type: none;
  padding:0;
  .layer-element {
    border-bottom:1px solid $grey-dark;
  }
  .layer-toggle {
    margin:10px;
  }
  .layer-name {
    display:inline-block;
    border-left:1px solid $grey;
    padding:8px;
    font-size:.8em;
    &::selection {
      background:transparent;
    }
    &:hover {
      background:$grey;
      cursor:pointer;
    }
    &.selected {
      background:$selected;
      color:$grey-light;
    }
  }
}