#mapview {
  position:absolute;
  left:250px;
  top:0;
  bottom:0;
  right:0;
}

/* .leaflet-top is no longer necessary with the 
   full navigation no longer 100% width */
// .leaflet-top { margin-top: 50px; }