// navigation

/* NAV */
#menu-bar {
  position:fixed;
  top:0;
  right:0;
  left:250px;
  background:$white;
  padding:5px;
  height:41px;
}


.nav {
  position:relative;
}

.menu {
  display: inline-block;
}

.menu-dropdown {
  display:none;
  position:absolute;
  box-shadow:1px 1px 5px 0 rgba(0,0,0,0.3);
  &.expanded {
    display:block;
  }
}
.menu-button {
  background:$white;
  border-radius:0;
  border:none;
  padding:8px;
  font-size:.8em;
  font-weight:100;
  letter-spacing:.05em;
  color:$black;
  cursor:pointer;
  &:focus {
    outline:none;
  }
  &:hover {
    background:$menu-hover;
  }

  .fa {
    margin-left:10px;
  }

  &.menu-expand {}
  &.menu-button-action {
    display:block;
    min-width:150px;
    text-align:left;
    border-top:1px solid $grey-dark;
  }
}
