// navigation

/* NAV */
#menu-bar {
  position:fixed;
  top:0;
  left:0;
  width:100%;
  background:$menu-background;
  padding:5px;
}

.menu {
  display: inline-block;
  .menu-dropdown {
    display:none;
    position:absolute;
    box-shadow:$ui-shadow;
    z-index:1;
    &.expanded {
      display:block;
    }
  }
  .menu-container {

  }
}
.menu-button {
  font-family:$font-input;
  background:$menu-background;
  border-radius:0;
  border:none;
  padding:8px;
  font-size:.9em;
  text-transform:uppercase;
  font-weight:100;
  letter-spacing:.05em;
  color:$menu-text;
  cursor:pointer;
  display:inline-block;
  &:focus {
    outline:none;
  }
  &:hover {
    background:$menu-hover;
  }

  .fa {
    margin-left:10px;
  }

  &.menu-expand {}
  &.menu-button-action {
    display:block;
    min-width:150px;
    text-align:left;
    border-top:1px solid $menu-border;
  }
}

.opens-above {
    bottom: $menu-height;
}

#side-menu {
  position: absolute;
  left: 250px;
  top: 41px;

  .side-menu-button {
    position:relative;
    width:$menu-side-dimension;
    height:$menu-side-dimension;
    min-width:$menu-side-dimension;
    opacity:$menu-side-inactive-opacity;
    border-top:1px solid transparent;

    &.available {
      opacity:$menu-side-available-opacity;
    }
    &.active {
      opacity:$menu-side-active-opacity;
      width:45px;
      max-width:45px;
      &:hover {
        &:before {
          display:none;
        }
        &:after {
          display:none;
        }
      }
    }

    &:hover {
      &:after {
        z-index: 10;
        content: " ";
        position: absolute;
        left: $menu-side-dimension-tooltip;
        top: 14px;
        margin-left: -6px;
        border-top: 6px solid transparent;
        border-right: 6px solid $menu-side-tooltip-background;
        border-bottom: 6px solid transparent;
      }
      &:before {
        z-index: 10;
        content: attr(id);
        text-transform: uppercase;
        position: absolute;
        left: $menu-side-dimension-tooltip;
        top: 5px;
        padding: 5px 10px;
        line-height: 19px;
        height: 20px;
        background: $menu-side-tooltip-background;
      }
    }
  }

}
