// navigation

/* NAV */
#menu-bar {
  position:fixed;
  top:0;
  left:0;
  width:100%;
  background:$menu-background;
  padding:5px;
  .menu {
    vertical-align:middle;
    margin-left:15px;
  }
}

.menu {
  display:inline-block;
}

.logo {
  max-width:80px;
  display:inline-block;
  vertical-align:middle;
  pointer-events:none;
}

.menu-dropdown {
  display:none;
  position:absolute;
  box-shadow:1px 1px 5px 0 rgba(0,0,0,0.3);
  z-index:1;
  &.expanded {
    display:block;
  }
}
.menu-button {
  font-family:$font-input;
  background:$menu-background;
  border-radius:0;
  border:none;
  padding:8px;
  font-size:.9em;
  text-transform:uppercase;
  font-weight:100;
  letter-spacing:.05em;
  color:$menu-text;
  cursor:pointer;
  display:inline-block;
  &:focus {
    outline:none;
  }
  &:hover {
    background:$menu-hover;
  }

  .fa {
    margin-left:10px;
  }

  &.menu-expand {}
  &.menu-button-action {
    display:block;
    min-width:150px;
    text-align:left;
    border-top:1px solid $menu-border;
  }
}

.opens-above {
    bottom: $menu-height;
}
