// THEME COLORS
$theme-dark: #174C4F;
$theme-gray: #207178;
$theme-orange: #FF9666;
$theme-yellow: #FFE184;
$theme-tan: #F5E9BE;
$color-white: #ffffff;
$color-light-gray: #f6f6f6;
$color-gray: #e5e5e5;

// FONTS
$font-sans: 'Roboto', sans-serif;
$font-mono: 'Inconsolata', monospace;
$font-input: $font-mono;

// BODY
$body-text-base: 15px;

// MENU
$menu-background: $theme-dark;
$menu-text: $color-white;
$menu-hover: $theme-gray;
$menu-border: $theme-gray;
$menu-height: 30px;
$menu-bottom-background: $menu-background;
$menu-bottom-text: $theme-gray;

$menu-side-dimension: 40px;
$menu-side-dimension-tooltip: $menu-side-dimension + 10px;

$menu-side-default-background-color: $color-light-gray;
$menu-side-default-text: darken($color-light-gray, 15%);

$menu-side-available-background-color: $color-light-gray;
$menu-side-available-text: $theme-gray;

$menu-side-active-background-color: $theme-gray;
$menu-side-active-text: $color-light-gray;

$menu-side-tooltip-background: $theme-dark;
$menu-side-tooltip-opacity: 1;
$menu-side-tooltip-text: $color-light-gray;

// SIDEBAR
$sidebar-width: 250px;

// LAYERLIST
$layerlist-background: $color-light-gray;
$layer-hover: $theme-tan;
$layer-selected-background: $theme-gray;
$layer-selected-text: $layerlist-background;
$layer-fontsize: 0.9em;

// NOTIFICATIONS
$notification-default-background: $color-light-gray;
$notification-default-text: $theme-dark;
$notification-alert-background: $theme-orange;
$notification-alert-text: $color-light-gray;
$notification-success-background: $theme-yellow;
$notification-success-text: $theme-gray;

// FORMS
$form-background: $color-white;
$form-information-background: $theme-gray;
$form-information-text: $color-light-gray;
$form-description-text: $color-light-gray;
$form-description-font: $font-sans;
$form-param-text: $theme-orange;
$form-param-description: $theme-gray;
$form-param-border: 1px solid $color-light-gray;
$form-submit-background: $theme-yellow;
$form-submit-text: $theme-dark;

// BUTTONS
$button-default-background: $color-white;
$button-default-color: $theme-dark;
$button-close-background: $theme-orange;
$button-close-color: $color-light-gray;

// TABLES
$table-left: $sidebar-width;
$table-background-color: $color-white;
$table-border: 1px solid $color-gray;
$table-th-padding: 5px;
$table-th-background-color: $theme-dark;
$table-th-color: $color-light-gray;
$table-rowNum-background-color: $color-light-gray;

// UI
$ui-shadow: 1px 1px 5px 0 rgba(0,0,0,0.3);