/* your css */
@import 'colors';
@import 'variables';
@import 'mixins';
@import 'globals';
@import 'base';
@import 'nav';
@import 'map';
@import 'layerlist';
@import 'notifications';
@import 'inputs';





/* DOWNLOAD */
/*#download {
  position:absolute;
  top:0;
  right:0;
  width:100px;
  height:100px;
  background:#222;
}*/


/* DROPZONE */
#dropzone {
  position:absolute;
  top:0;
  bottom:0;
  width:250px;
  background:$grey-light;
}
#fileList {
  margin:0;
  list-style-type: none;
  padding:0;
}
.layer-element {
  border-bottom:1px solid $grey-dark;
}
.layer-toggle {
  margin:10px;
}
.layer-name {
  display:inline-block;
  border-left:1px solid $grey;
  padding:8px;
  font-size:.8em;
}
.layer-name:hover {
  background:$grey;
  cursor:pointer;
}
.layer-name.selected {
  background:$selected;
  color:$grey-light;
}
