<script id="template-turf-operations" type="text/x-handlebars-template">
  <div class="operation-input"><div class="input">
    <h1 class="operation-input-title">{{ title }}</h1>
    <p class="operation-input-description">{{ description }}</p>
    <form>

      {{#each parameters}}
        <div class="input-group">
          <label for="">{{ name }}</label>
          <p class="input-parameter-description">{{ description }}</p>
          <input name="" type="{{ type }}">
        </div>
      {{/each}}

      <button type="button" class="operation-input-submit">Execute</button>
    </form>
  </div></div>
</script>