<script id="template-turf-union" type="x-tmpl-mustache">
  <div class="operation-input"><div class="input">
    <h1 class="operation-input-title">{{ name }}</h1>
    <p class="operation-input-description">Calculates a buffer for input features for a given radius. Units supported are miles, kilometers, and degrees.</p>
    <form>
      <div class="input-group">
        <label for="turf-buffer-distance">Distance</label>
        <input name="turf-buffer-distance" type="number">
      </div>
      <div class="input-group">
        <label for="turf-buffer-unit">Units</label>
        <select name="turf-buffer-unit">
          <option value="miles" selected>miles</option>
          <option value="feet">feet</option>
          <option value="kilometers">kilometers</option>
          <option value="meters">meters</option>
          <option value="degrees">degrees</option>
        </select>
      </div>
      <button type="button" class="operation-input-submit">Execute</button>
    </form>
  </div></div>
</script>