body {
  padding: 0;
  margin: 0;
  background: $grey;
  font-family:"Helvetica Neue", arial, sans-serif;
  overflow: hidden;

  &.dragging {
    opacity: 0.8;
    .layer-help {
      border: 1px solid #333;
    }
  }
}


@-webkit-keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-family: "Inconsolata", monospace;
}
p {
  margin: 0;
  padding: 0;
}
a {
  color: $blue;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}
input,
label,
.dropchop-btn {
  font-family: "Inconsolata", monospace;
}

.dropchop-btn,
a.dropchop-btn {
  text-decoration: none;
  border: none;
  padding: 0.5em 1em;
  font-size: 1em;
  cursor: pointer;

  &.dropchop-btn-green {
    background: $green;
    color: white;
    &:hover {
      background: darken($green, 10);
    }
  }

  &.dropchop-btn-blue {
    background: $blue;
    color: white;
    &:hover {
      background: darken($blue, 10);
    }
  }

  &.dropchop-btn-cancel {
    background: transparent;
    color: red;
    &:hover {
      background: #f6f6f6;
    }
  }
}



#dropchop {
  position: relative;
  height: 100%;
  width: 100%;
}

$left-menu-width: 41px;
$width: 280px;
$geo-button-width: 200px;

.layerlist {
  position: absolute;
  left: $left-menu-width;
  top:0;
  bottom: 0;
  background: #fff;
  margin: 0;
  padding: 0;
  width: $width;
  list-style-type: none;
  overflow-y: scroll;
  -webkit-transform: translate3d(0,0,0);
  z-index: 1;
  overflow: visible;

  .layer-help {
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    color: #999;
    font-size: 0.9em;
    border: 1px dashed #c0c0c0;
  }
  .layer-toggleAll {
    background: #f6f6f6;
    padding: 7px 10px;
    font-size: 0.8em;
    font-weight: 900;
    color: #999;
    border-bottom: 1px solid #e5e5e5;
    display: none;
    input {
      margin-right: 6px;
    }
  }
  * {
    &::selection {
      background:transparent;
    }
  }
  .context-menu {
    min-width: 250px;
    position: fixed;
    z-index: 2;

    background: #fdfdfd;
    border: 1px solid #ddd;
    border-radius: 2px;

    color: #333;

    ul {
      list-style: none;
      padding: 0;

      li {
        display: block;
        padding: 8px 10px;
        font-size: 0.85em;
        // font-weight: 500;
        border-bottom: 1px solid #ddd;
        text-transform: lowercase;
        cursor: pointer;

        &:last-child {
          border-bottom: none;
        }
        &:hover {
          background-color: lighten(#333, 10%);
          color: #f6f6f6;
        }
        i {
          margin-right: .4em;
        }

        &.operation-inactive {
          color: #aaa;
          text-decoration: line-through;
          cursor: default;
          &:hover {
            background-color: inherit;
          }
        }
      }
    }
  }
}
.layer-element {
  position: relative;
  cursor:pointer;



  .layer-toggle {
    float: left;
    margin-right: 5px;
    position: absolute;
    top: 8px;
    left: 9px;
  }
  .layer-name {
    display: block;
    padding: 8px 10px 8px 51px;
    font-size: 0.85em;
    color: #333;
    font-weight: 800;
    word-wrap: break-word;
    &.layer-new {
      background: #ffffcc;
    }
    &:hover {
      background: #f6f6f6;
    }
    &.selected {
      background: #333;
      color: #f6f6f6;
      &:hover {
        background: #444;
      }
    }
  }
  .layer-type-image {
    float: left;
    position: absolute;
    top: 9px;
    left: 30px;
    width: 14px;
    height: 15px;
    opacity: 0.7;
  }
  .layer-action {
    border: none;
    background: #f6f6f6;
    position: absolute;
    top: 6px;
    padding: 5px 6px;
    text-align: center;
    display: none;
    border-radius: 50%;
    cursor: pointer;
  }
  .layer-dropdown {
    right: 4px;
    color: $blue;
    &:hover {
      background: $blue;
      color: white;
    }
  }
  &:hover {
    .layer-dropdown {
      display: block;
    }
  }
}

.map {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: $left-menu-width + $width + $geo-button-width;
}

.operations-geo {
  position: absolute;
  top: 0;
  left: $left-menu-width + $width;
  bottom: 0;
  background: white;
  border-left: 1px solid #e5e5e5;
  border-right: 1px solid #e5e5e5;
  overflow-y: scroll;
}
.operation {
  border: none;
  -webkit-transform: translate3d(0, 0, 0); // forces chrome acceleration GPU
  &.operation-geo {
    padding:1em;
    display: block;
    width: $geo-button-width;
    font-size: 0.9em;
    background: white;
    text-align: left;
    border-bottom: 1px solid #f6f6f6;
    h4 {
      text-transform: capitalize;
    }
    p {
      font-size: 0.8em;
    }
  }
  &:hover {
    background: #f6f6f6;
    cursor: pointer;
  }
  &.operation-inactive,
  &:disabled {
    opacity: 0.5;
    text-decoration: line-through;
    &:hover {
      background: transparent;
      cursor: default;
    }
  }
}

.dropchop-form {
  position: absolute;
  z-index: 1000;
  top: 20px;
  width: 400px;
  left: 50%;
  margin-left: -200px;
  background: white;
  padding: 10px;
  box-shadow: 0 0 6px 0px rgba(0, 0, 0, 0.6);
  border-radius: 3px;
  .dropchop-form-title {}
  .dropchop-form-description {
    font-size: 0.9em;
    color: #999;
    border-bottom: 1px solid #e5e5e5;
    padding: 0.5em 0;
    margin-bottom: 0.8em;
  }
  .dropchop-form-submit,
  .dropchop-form-cancel {
    float:right;
    margin-left: 10px;
  }
}

.dropchop-form-parameter {
  margin-bottom: 1em;
  .dropchop-form-parameter-label {
    display: block;
    color: #555;
    font-size: 1.1em;
    text-transform: uppercase;
    font-weight: 900;
    .sub-label {
      display: block;
      text-transform: none;
      font-size: 0.9em;
      font-weight: 300;
      margin: 3px;
      color: #777;
      font-family: "Helvetica Neue", arial, sans-serif;
    }
  }
  input,
  select {
    display: block;
    width: 100%;
    padding: 0.5em;
    font-size: 0.9em;
  }
  input[type="radio"] {
    display: inline-block;
    width: auto;
  }
  .dropchop-form-parameter-description {
    font-size: 0.8em;
    text-transform: none;
    font-weight: 100;
  }
}