.notification {
  float: right;
  position: relative;
  z-index: 10;
  clear: both;
  padding: 12px 15px;
  font-size: 0.85em;
  margin: 5px 5px 0 0;
  color: white;
  a {
    color: white;
    text-decoration: underline;
  }

  &.success {
    background: $green;
  }
  &.error {
    background: $red;
  }
  &.info {
    background: $blue;
  }
  &.saved {
    background: #e1f8e3;
    color: #333;
    a {
      color: #333;
    }
  }

  .notification-close {
    background: transparent;
    border: none;
    position: absolute;
    top: 0;
    right: 0;
    color: white;
    &:hover {
      background: rgba(255,255,255, 0.2);
      cursor: pointer;
    }
  }
}
